@use "@/app/_styles/variables" as *;

.card {
  border-radius: 0.8rem;
  overflow: hidden;
  margin: 8rem $spacing-sm;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media only screen and (max-width: $bp-mobile) {
    grid-template-columns: 1fr;
    grid-template-rows: 34.2rem 1fr;
  }
}
