@use "@/app/_styles/variables" as *;

.attribution {
  background-color: $green700;
  color: $cream;
  font-size: 1.1rem;
  text-align: center;
  padding: 1rem;

  a {
    color: $green500;
    transition: all 0.3s ease-in;

    &:hover {
      color: $grey;
    }
  }
}
